name: Lint

on:
  push:
    branches: [main]
  pull_request:
    branches:
    - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v1
        with:
          args: "format --check"
