name: Quality

on:
  push:
    branches: [main]
  pull_request:
    branches:
    - '**'

jobs:
  quality:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
